<link href="css/global.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row flex-wrap">
        <main class="col-md-12" role="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h6 class="card-header">AIVH – EVENTOS - RENDICIÓN DE GASTOS </h6>
                        <br />
                        <div class="card-body">
                            <div class="col-md-12">

                                <div id="divTabla">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="slcPeriodos">Periodo</label>
                                            <select id="slcPeriodos" name="slcPeriodos" aria-controls="tblCursos" class="form-control form-control-sm"></select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtBusqueda">Buscar:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtBusqueda" />
                                        </div><div class="col-md-1"></div>
                                        <div class="col-md-2 float-right">
                                            <label for="slcLength">Mostrar</label>
                                            <select id="slcLength" name="slcLength" aria-controls="tblEventos" class="form-control form-control-sm">
                                                <option value="-1">Todos</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-md-12 table-responsive">
                                        <table id="tblEventos" class="table  table-striped table-hover table-bordered table-response" cellspacing="1">
                                            <thead class="table-secondary">
                                                <tr>
                                                    <th>Folio</th>
                                                    <th>Centro de costos </th>
                                                    <th>Lugar</th>
                                                    <th>Nombre del evento</th>
                                                    <th>Tipo de evento</th>
                                                    <th>Instructor</th>
                                                    <th>Fecha de evento</th>
                                                    <th>Monto anticipo</th>
                                                    <th>Monto gastos</th>
                                                    <th>Observaciones</th>
                                                    <th>Saldo</th>
                                                    <th>Monto recaudado</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>

                                </div>

                                <div id="divGenerales" style="display:none;">
                                    <form id="frmEvento">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group  col-md-6">
                                                    <label>Centro de costos</label>
                                                    <input type="text" id="slcCentroCostos" class="form-control" readonly>
                                                </div>
                                                <div class="form-group  col-md-6">
                                                    <label>Tipo de evento</label>
                                                    <input type="text" id="slcEventoTipo" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label>Lugar</label>
                                                    <input type="text" class="form-control" id="txtLugar" placeholder="" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group  col-md-6">
                                                    <label>Fecha de curso</label>
                                                    <input type="text" class="form-control" id="txtFecha" readonly>
                                                </div>
                                                <div class="form-group  col-md-6">
                                                    <label>Instructor </label>
                                                    <input type="text" id="slcInstructor" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="card border-dark">
                                            <div class="card-header bg-transparent border-dark font-weight-bold">Anticipo de gastos </div>
                                            <div class="card-body">
                                                <div class="form-group  col-md-4">
                                                    <label>Efectivo $</label>
                                                    <input type="number" step="0.01" class="form-control" id="txtEfectivo" value="0" min="0" required>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group  col-md-12">
                                                            <label>Cheque ó transferencia $</label>
                                                            <input type="number" step="0.01" class="form-control" id="txtCheque1" value="0" min="0" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group  col-md-12">
                                                            <label>Fecha</label>
                                                            <div class="input-group date">
                                                                <input type="text" class="form-control" id="txtFecha1" required disabled><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group  col-md-12">
                                                            <label>No. de Transferencia o cheque</label>
                                                            <input type="number" class="form-control" id="txtNoCheque1" required disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Total</label>
                                                        <input type="text" class="form-control" id="txtTotalA" readonly>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </div>
                                        <br />
                                        <div class="card border-dark">
                                            <div class="card-header bg-transparent border-dark font-weight-bold form-inline">Donantes &nbsp; </div>
                                            <div class="card-body">
                                                <div class="form-group  col-md-12">
                                                    <button id="btnNewD" type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Agregar </button>
                                                </div>
                                                <div class="col-md-12  table-responsive">
                                                    <table id="tblDonantes" class="table  table-striped  table-bordered responsive " style="font-size: 10pt;font-family: 'Segoe UI';">
                                                        <thead class="table-secondary ">
                                                            <tr>
                                                                <th>Nombre </th>
                                                                <th>Monto</th>
                                                                <th>Email</th>
                                                                <th>Celular</th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="card border-dark">
                                            <div class="card-header bg-transparent border-dark font-weight-bold form-inline">Gastos &nbsp; <div id="validGastos" style="display:none;"><p class="text-danger text-right">* Favor de agregar gastos a rendir</p></div></div>
                                            <div class="card-body">
                                                <div class="form-group  col-md-12">
                                                    <button id="btnNew" type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Agregar </button>
                                                </div>
                                                <div class="col-md-12  table-responsive">
                                                    <table id="tblGastos" class="table  table-striped  table-bordered responsive " style="font-size: 10pt;font-family: 'Segoe UI';">
                                                        <thead class="table-secondary ">
                                                            <tr>
                                                                <th>Tipo de Comprobante</th>
                                                                <th>Fecha</th>
                                                                <th>Concepto</th>
                                                                <th>Sub Concepto</th>
                                                                <th>Descripción</th>
                                                                <th>Proveedor</th>
                                                                <th>Subtotal</th>
                                                                <th>Iva</th>
                                                                <th>Total</th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <button id="btnreturn" type="button" class="btn btn-secondary"><i class="fa fa-reply" aria-hidden="true"></i> &nbsp; Cancelar</button>
                                                    <button id="btnSave" type="submit" class="btn btn-primary float-right"><i class="fas fa-save" aria-hidden="true"></i>  &nbsp; Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--modal-->
                    <div class="modal fade" id="modalDonantes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Donante</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="frmDonante">
                                    <div class="modal-body">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group  col-md-6">
                                                    <label>Nombre</label>
                                                    <input type="text" class="form-control" id="txtNombre" required>
                                                </div>
                                                <div class="form-group  col-md-6">
                                                    <label>Apellido</label>
                                                    <input type="text" class="form-control" id="txtApellido" required>
                                                </div>
                                            </div>
                                            <div class="card border-primary">
                                                <div class="card-header bg-transparent border-primary font-weight-bold form-inline">Formas de pago. &nbsp; <div id="validFormas" style="display:none;"><p class="text-danger text-right">* La suma de los montos de las formas de pago no puede ser igual a 0.</p></div> </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="form-group  col-md-6">
                                                            <label>Efectivo</label>
                                                            <input type="number" step="0.01" class="form-control" id="txtEfectivoD" value="0" min="0" required>
                                                        </div>
                                                        <div class="form-group  col-md-6">
                                                            <label>Deposito / Transferencia</label>
                                                            <input type="number" step="0.01" class="form-control" id="txtDeposito" value="0" min="0" required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group  col-md-6">
                                                            <label>Cheque</label>
                                                            <input type="number" step="0.01" class="form-control" id="txtCheque" value="0" min="0" required>
                                                        </div>
                                                        <div class="form-group  col-md-6">
                                                            <label>Tarjeta de credito</label>
                                                            <input type="number" step="0.01" class="form-control" id="txtTarjeta" value="0" min="0" required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group  col-md-6">
                                                            <label>Total:</label>
                                                            <input type="text" class="form-control" id="txtTotalD" value="$0.00" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="form-group  col-md-6">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control" id="txtEmail" required>
                                                </div>
                                                <div class="form-group  col-md-6">
                                                    <label>Celular</label>
                                                    <input type="text" class="form-control" id="txtCelular" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnAddD" type="submit" class="btn btn-primary"><i class="fas fa-check" aria-hidden="true"></i>  &nbsp;Aceptar</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> &nbsp; Cerrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!--modal-->
                    <div class="modal fade" id="modalGastos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Gasto</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="frmGasto">
                                    <div class="modal-body">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group  col-md-6">
                                                    <label>Tipo de comprobante </label>
                                                    <select id="slcComprobanteTipo" class="form-control" required></select>
                                                </div>
                                                <div class="form-group  col-md-6">
                                                    <label>Fecha</label>
                                                    <div class="input-group date">
                                                        <input type="text" class="form-control" required id="txtFechaComprobante"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group  col-md-12">
                                                    <label>Concepto</label>
                                                    <select id="slcConcepto" class="form-control" required></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group  col-md-12">
                                                    <label>Sub concepto </label>
                                                    <select id="slcSubConcepto" class="form-control" required></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label>Descripción</label>
                                                    <input type="text" class="form-control" id="txtDescripcion" placeholder="Descripción del producto o servicio" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label>Proveedor</label>
                                                    <input type="text" class="form-control" id="txtProveedor" placeholder="Nombre del proveedor" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group  col-md-6">
                                                    <label>Monto sin iva</label>
                                                    <input type="number" step="0.01" class="form-control" id="txtSubtotal" value="0" min="1" required>
                                                </div>
                                                <div class="form-group  col-md-6">
                                                    <label>Iva</label>
                                                    <input type="number" step="0.01" class="form-control" id="txtIva" value="0" min="0" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group  col-md-6">
                                                    <label>Importe total</label>
                                                    <input type="text" class="form-control" id="txtTotal" value="$0.00" required disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnAdd" type="submit" class="btn btn-primary"><i class="fas fa-check" aria-hidden="true"></i>  &nbsp;Aceptar</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> &nbsp; Cerrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </main>
    </div>
</div>
<script src="js/global.js"></script>
<script src="js/reporte/eventos.js"></script>