<link href="css/global.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row flex-wrap">
        <main class="col-md-12" role="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h6 class="card-header">AIVH – EVENTOS</h6>
                        <br />
                        <div class="card-body">
                            <div class="col-md-12">

                                <div id="divTabla">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtBusqueda">Buscar:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtBusqueda" />
                                        </div><div class="col-md-1"></div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-2 float-right">
                                            <label for="slcLength">Mostrar</label>
                                            <select id="slcLength" name="slcLength" aria-controls="tblEventos" class="form-control form-control-sm">
                                                <option value="-1">Todos</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button id="btnNuevo" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp;Nuevo Evento</button>
                                        </div>
                                    </div>
                                    <table id="tblEventos" class="table  table-striped table-hover table-bordered table-response" cellspacing="1">
                                        <thead class="table-secondary">
                                            <tr>
                                                <th>Folio</th>
                                                <th>Centro de costos </th>
                                                <th>Lugar</th>
                                                <th>Nombre del evento</th>
                                                <th>Tipo de evento</th>
                                                <th>Instructor</th>
                                                <th>Fecha de evento</th>
                                                <th>Monto anticipo</th>
                                                <th>Monto gastos</th>
                                                <th>Observaciones</th>
                                                <th>Saldo</th>
                                                <th>Monto recaudado</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                                <div id="divGenerales" style="display:none;">
                                    <form id="frmEvento">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group  col-md-6">
                                                    <label>Centro de costos</label>
                                                    <select id="slcCentroCostos" class="form-control" required></select>
                                                </div>
                                                <div class="form-group  col-md-6">
                                                    <label>Tipo de evento </label>
                                                    <select id="slcEventoTipo" class="form-control" required></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label>Lugar</label>
                                                    <input type="text" class="form-control" id="txtLugar" placeholder="" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Nombre del evento</label>
                                                    <input type="text" class="form-control" id="txtNombreEvento" placeholder="" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group  col-md-6">
                                                    <label>Fecha de evento</label>
                                                    <div class="input-group date">
                                                        <input type="text" class="form-control" required id="txtFecha"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </div>
                                                <div class="form-group  col-md-6">
                                                    <label>Instructor </label>
                                                    <select id="slcInstructor" class="form-control" required></select>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="card border-dark">
                                            <div class="card-header bg-transparent border-dark font-weight-bold form-inline">Donantes. &nbsp; </div>
                                            <div class="card-body">
                                                <div class="col-md-12  table-responsive">
                                                    <table id="tblDonantes" class="table  table-striped  table-bordered responsive " style="font-size: 10pt;font-family: 'Segoe UI';">
                                                        <thead class="table-secondary ">
                                                            <tr>
                                                                <th>Nombre </th>
                                                                <th>Monto</th>
                                                                <th>Email</th>
                                                                <th>Celular</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="card border-dark">
                                            <div class="card-header bg-transparent border-dark font-weight-bold">Anticipo de gastos </div>
                                            <div class="card-body">
                                                <div class="form-group  col-md-4">
                                                    <label>Efectivo $</label>
                                                    <input type="number" step="0.01" class="form-control" id="txtEfectivo" value="0" min="0" readonly>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group  col-md-12">
                                                            <label>Cheque ó transferencia $</label>
                                                            <input type="number" step="0.01" class="form-control" id="txtCheque1" value="0" min="0" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group  col-md-12">
                                                            <label>Fecha</label>
                                                            <input type="text" class="form-control" id="txtFecha1" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group  col-md-12">
                                                            <label>No. de Transferencia o cheque</label>
                                                            <input type="number" class="form-control" id="txtNoCheque1" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="card border-dark">
                                            <div class="card-header bg-transparent border-dark font-weight-bold form-inline">Gastos &nbsp; <div id="validGastos" style="display:none;"><p class="text-danger text-right">* Favor de agregar gastos a rendir</p></div></div>
                                            <div class="card-body">
                                                <div class="col-md-12  table-responsive">
                                                    <table id="tblGastos" class="table  table-striped  table-bordered responsive " style="font-size: 10pt;font-family: 'Segoe UI';">
                                                        <thead class="table-secondary ">
                                                            <tr>
                                                                <th>Tipo de Comprobante</th>
                                                                <th>Fecha</th>
                                                                <th>Concepto</th>
                                                                <th>Sub Concepto</th>
                                                                <th>Descripción</th>
                                                                <th>Proveedor</th>
                                                                <th>Subtotal</th>
                                                                <th>Iva</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <button id="btnreturn" type="button" class="btn btn-secondary"><i class="fa fa-reply" aria-hidden="true"></i> &nbsp; Cancelar</button>
                                                    <button id="btnSave" type="submit" class="btn btn-primary float-right"><i class="fas fa-save" aria-hidden="true"></i>  &nbsp; Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </main>
    </div>
</div>
<script src="js/global.js"></script>
<script src="js/administracion/eventos.js"></script>